.container {
	width: calc(960 / 1366 * 100%);
	padding: 15px 10px;
	min-width: 768px;
	max-width: 1300px;
}

.card {
	width: calc(960 / 1366 * 50% - 50px);
	padding: 30px 20px;
	border: 1px solid #d5d4d4;
	margin-bottom: 20px;
}

.card:nth-child(even) {
	margin-left: 10px;
}

.card:nth-child(odd) {
	margin-right: 10px;
}