@media (min-width:769px) {
  .product {
    width: 32%;
  }

  .products {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .product:nth-child(3n+2) {
    margin-left: auto;
    margin-right: auto;
  }
}

.product__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}