@media (max-width: 960px) {
  .aside__menu {
    display: none;
  }
}

@media (min-width: 961px) {
  .page {
    display: flex;
  }
  
  .aside {
    flex-basis: 32rem;
    margin-right: 4rem;
    flex-shrink: 0;
  }

  .content {
    flex-grow: 1;
    order: 2;
  }
}